<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">
    <!--
    <h2 class="footer-heading">{{ site.title | escape }}</h2>
    -->
    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li class="p-name">
            {%- if site.author -%}
              {{ site.author | escape }}
            {%- else -%}
              {{ site.title | escape }}
            {%- endif -%}
              <a class="nav-link logo" title="LinkedIn" href="https://www.linkedin.com/in/joaopcmatias/">
                <i class="fab fa-linkedin"></i>
              </a>
              <a class="nav-link logo" title="Github" href="https://github.com/joaopmatias">
                <i class="fab fa-github"></i>
              </a>
              <a class="nav-link logo" title="BitBucket" href="https://bitbucket.org/Matiaco/">
                <i class="fab fa-bitbucket"></i>
              </a>
              <a class="nav-link logo" title=" Strava" href="https://www.strava.com/athletes/4346110">
                <i class="fab fa-strava"></i>
              </a>
              <a class="page-link" title="Resume" href="/assets/CV/CV_JMatias.pdf">
                C.V.
              </a>
            </li>
            {%- if site.email -%}
            <li><a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
            {%- endif -%}

        </ul>
      </div>

      <div class="footer-col footer-col-2">
        {%- include social.html -%}
      </div>

      <div class="footer-col footer-col-3">
        <p>{{- site.description | escape -}}</p>
      </div>
    </div>

  </div>

</footer>
