/*
 * Base structure
 */

html,
body {
  background-color: lightyellow;
}

.site-header {
    text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
}

.middle-look {
  background-color: beige;
}

.nav-link:hover {
  text-decoration:none;
}

.site-nav .nav-link:hover {
  color: $brand-color;
}

.site-nav .nav-link {
  color: black;
}

.nav-link {
  padding: 5px;
}

.site-nav .page-link {
  margin-left: 15px;
}

.photo {
  height: 180px;
  border-radius: 50%;
  border: 1px solid gray;
  margin-bottom: 25px;
  margin-top: 25px;
}


/*
 * Cover
 */

.container {
  padding: 0 1.5rem;
}

.centered {
  text-align: center;
}

.greet {
  color: $brand-color;
  font-size: 2em;
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
}
